.overlay {
   opacity: 0;
   visibility: hidden;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}

.modal {
   display: flex;
   flex-direction: column;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   width: 100%;
   max-width: 600px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; 
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}

.modal .modal__title {
   font-size: 18pt;
}

.modal p, select {
   font-size: 18pt;
}

.modal select {
   border: 1px solid #000;
   border-radius: 5px;
}

.modal button {
	color: #FFF;
   background: #00457E;
   padding: 7px;
   font-size: 14pt;
   text-decoration: none;
   font-family: Alegreya Sans, sans-serif;
   transition: 0.3s;
   margin-top: 25%;
   position: inherit;
   border-radius: 5px;
   width: 120px;
   height: 37px;
   transition: 0.3s;
}

.modal button:hover {
   background-color: #FFF;
   color: #00457E;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 25px;
   height: 25px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}

@media only screen and (max-width: 1200px) {
   .modal {
      max-width: 540px;
   }
   
   .modal .modal__title {
      font-size: 16pt;
   }
   
   .modal select {
      font-size: 15pt;
   }
}

@media only screen and (max-width: 964px) {
   .modal {
      max-width: 500px;
   }
   
   .modal .modal__title {
      font-size: 15pt;
   }
   
   .modal select {
      font-size: 14pt;
   }
}

@media only screen and (max-width: 550px) {
   .modal {
      width: 80%;
      max-width: 450px;
   }
   
   .modal .modal__title {
      font-size: 14pt;
   }
   
   .modal select {
      font-size: 13pt;
   }
}

@media only screen and (max-width: 500px) {
   .modal {
      min-height: 200px;
   }
   
   .modal button {
      margin-top: 20%;
   }

   .modal__cross {
      width: 20px;
      height: 20px;
   }
   
   .modal .modal__title {
      font-size: 14pt;
   }
   
   .modal select {
      font-size: 13pt;
   }
}